spring:
  application:
    name: configserver
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Satyam0004/app-configuration.git
          username: ${GIT_USER}
          password: ${GIT_TOKEN}

server:
  port: 8888